@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  color: #4f4f4f;
}

html,
body,
#root {
  min-height: 100dvh;
  background-color: #d0e7e5;
}

#root {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  gap: 2rem;
  width: 65rem;
  padding: 2rem 0;
  margin-inline: 2rem;
}

.shadow {
  box-shadow: 0px 60px 30px -60px #828282;
}
