@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  color: #4f4f4f;
}

html,
body,
#root {
  min-height: 100dvh;
  background-color: #f2f2f2;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.mainContainer {
  border: 1px solid red;
  max-width: 65rem;
}

.shadow {
  box-shadow: 0 5px 10px #000;
}
