.container {
  padding: 1rem;
  background-color: #fff;
  border-radius: .8rem;
}

.title {
  font-size: 1.1rem;
  font-weight: 700;
  margin-bottom: .6rem;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  gap: 1rem;
}

.skillContainer {
  display: grid;
  grid-template-columns: auto 85%;
  justify-content: space-between;
  align-items: baseline;
}

.progressBar {
  width: 100%;
  height: .6rem;
  background-color: #c4c4c4;
  border-radius: .6rem;
}

.progressBar__value {
  background-color: #2F80ED;
  height: 100%;
  border-radius: .6rem;
}

/* ? Responsive */

@media (max-width: 767px) {
  .container {
    width: 100%;
  }

  .progressBar {
    width: 100%;
  }

  .skillContainer {
    grid-template-columns: 1fr;
    gap: .6rem;
  }
}
